@charset "UTF-8";
/*=======Main theme colors=======*/
/*=======Hover colors=======*/
/*=======Background colors=======*/
/*=======Color Filter=======*/
/*=======Box shadow=======*/
/*=======Font size=======*/
/*=======Scroll bar colors=======*/
.dark-theme {
  /*=======Main theme colors=======*/
  /*=======Background colors=======*/
  /*=======Color Filter=======*/
  /*=======Scroll bar colors=======*/
}

html {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: #0e2431;
  background-color: #fefefe;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1280px;
}

.inner-info-link {
  display: inline-block;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: #6a59d1;
  color: #fff;
  transform: scale(100%);
  transition: background-color 0.3s linear, color 0.3s linear, transform 0.3s linear;
  font-size: 16px;
  font-weight: 500;
}
.inner-info-link i {
  vertical-align: middle;
  transform: translateX(0);
  transition: transform 0.3s linear;
}
.inner-info-link:hover {
  transform: scale(99%);
  background-color: #614fd0;
  transition: background-color 0.3s linear, color 0.3s linear, transform 0.3s linear;
}
.inner-info-link:hover i {
  transform: translateX(2px);
  transition: transform 0.3s linear;
}

.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner-title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text; /* Правильный префикс */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  opacity: 0.1;
}

.inner-second-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  transform: translateY(-55px);
}
.inner-second-title::after {
  content: "";
  position: absolute;
  width: 65%;
  display: block;
  height: 5px;
  right: 0;
  bottom: 0;
  background-color: #6a59d1;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: 0.6s linear;
}
.header.sticky {
  background-color: rgba(225, 225, 225, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.header .logo {
  color: #0e2431;
  margin-right: auto;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  transition: 0.6s linear;
}

.logo {
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav-menu {
  display: flex;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  text-transform: capitalize;
  color: #0e2431;
  font-size: 16px;
  transition: 0.3s linear;
}
.nav-link.active, .nav-link:hover {
  color: #6a59d1;
  transition: 0.3s linear;
}
.nav-menu-btn {
  display: none;
}

.home {
  padding: 80px 0;
  min-height: 100vh;
  position: relative;
}
.home-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.home .media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home .media-icons a {
  color: #6a59d1;
  font-size: 32px;
  transition: color 0.3s linear;
}
.home .media-icons a:hover {
  color: #614fd0;
  transition: color 0.3s linear;
}
.home-info h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}
.home-info h3 {
  color: #777;
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}
.home-info p {
  font-size: 16px;
  color: #777;
  width: 100%;
  max-width: 350px;
  margin-bottom: 30px;
}
.home-img img {
  width: 90%;
}
.home .scroll-down {
  max-width: 200px;
  text-align: center;
  display: block;
  margin: auto auto 0;
  color: #0e2431;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s linear, transform 0.3s linear;
}
.home .scroll-down:hover {
  color: #6a59d1;
  transition: color 0.3s linear, transform 0.3s linear;
}
.home .scroll-down i {
  margin-left: 10px;
  color: #6a59d1;
  font-size: 18px;
  animation: topdown linear 1s infinite;
}

@keyframes topdown {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(5px);
  }
}

/*# sourceMappingURL=style.css.map */
