@charset "UTF-8";
/*=======Main theme colors=======*/
/*=======Hover colors=======*/
/*=======Background colors=======*/
/*=======Color Filter=======*/
/*=======Box shadow=======*/
/*=======Font size=======*/
/*=======Scroll bar colors=======*/
.dark-theme {
  /*=======Main theme colors=======*/
  /*=======Background colors=======*/
  /*=======Color Filter=======*/
  /*=======Scroll bar colors=======*/
}

html {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: #0e2431;
  background-color: #fefefe;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1280px;
}

.inner-info-link {
  display: inline-block;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: #6a59d1;
  color: #fff;
  transform: scale(100%);
  transition: background-color 0.3s linear, color 0.3s linear, transform 0.3s linear;
  font-size: 16px;
  font-weight: 500;
}
.inner-info-link i {
  vertical-align: middle;
  transform: translateX(0);
  transition: transform 0.3s linear;
}
.inner-info-link:hover {
  transform: scale(99%);
  background-color: #614fd0;
  transition: background-color 0.3s linear, color 0.3s linear, transform 0.3s linear;
}
.inner-info-link:hover i {
  transform: translateX(2px);
  transition: transform 0.3s linear;
}

.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 20px;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner-title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text; /* Правильный префикс */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  opacity: 0.1;
}

.inner-second-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  transform: translateY(-55px);
}
.inner-second-title::after {
  content: "";
  position: absolute;
  width: 65%;
  display: block;
  height: 5px;
  right: 0;
  bottom: 0;
  background-color: #6a59d1;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: 0.6s linear;
}
.header.sticky {
  background-color: rgba(225, 225, 225, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.header .logo {
  color: #0e2431;
  margin-right: auto;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  transition: 0.6s linear;
}

.logo {
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
.nav-menu {
  display: flex;
  gap: 50px;
}
.nav-link {
  font-weight: 500;
  text-transform: capitalize;
  color: #0e2431;
  font-size: 16px;
  transition: 0.3s linear;
}
.nav-link.active, .nav-link:hover {
  color: #6a59d1;
  transition: 0.3s linear;
}
.nav-menu-btn {
  display: none;
}

.home {
  padding: 80px 0;
  min-height: 100vh;
  position: relative;
}
.home-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}
.home .media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.home .media-icons a {
  color: #6a59d1;
  font-size: 32px;
  transition: color 0.3s linear;
}
.home .media-icons a:hover {
  color: #614fd0;
  transition: color 0.3s linear;
}
.home-info h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}
.home-info h3 {
  color: #777;
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}
.home-info p {
  font-size: 16px;
  color: #777;
  width: 100%;
  max-width: 350px;
  margin-bottom: 30px;
}
.home-img img {
  width: 90%;
}
.home .scroll-down {
  max-width: 200px;
  text-align: center;
  display: block;
  margin: auto auto 0;
  color: #0e2431;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s linear, transform 0.3s linear;
}
.home .scroll-down:hover {
  color: #6a59d1;
  transition: color 0.3s linear, transform 0.3s linear;
}
.home .scroll-down i {
  margin-left: 10px;
  color: #6a59d1;
  font-size: 18px;
  animation: topdown linear 1s infinite;
}

@keyframes topdown {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(5px);
  }
}
.about-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}
.about-img {
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 8px;
}
.about-info {
  width: 100%;
  max-width: 600px;
}
.about .description h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .description h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .description h4 span {
  color: #6a59d1;
}
.about .description p {
  color: #777;
  font-size: 16px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #d7d7d7;
}
.about .professional-list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.about .professional-list .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin-bottom: 20px;
}
.about .professional-list .list-item .number {
  font-size: 40px;
  font-weight: 700;
}
.about .professional-list .list-item .text {
  color: #777;
  font-size: 14px;
}

.skills-description {
  width: 100%;
  max-width: 700px;
  margin-bottom: 50px;
}
.skills-description h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.skills-description p {
  font-size: 16px;
}
.skills-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 21px;
  margin-bottom: 24px;
}
.skills .education {
  min-width: 320px;
  width: 32%;
}
.skills .education .label {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #6a59d1;
}
.skills .education-list .item {
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #6a59d1;
  transition: 0.3s linear;
}
.skills .education-list .item .year {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #0e2431;
  font-weight: 500;
}
.skills .education-list .item p {
  color: #777;
}
.skills .education .bar {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
  margin-top: 15px;
  transition: 0.3s linear;
}
.skills .education .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.skills .education .bar .info span {
  font-weight: 500;
}
.skills .education .bar .line {
  width: 100%;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: relative;
}
.skills .education .bar .line::before {
  content: "";
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #6a59d1;
  border-radius: 2px;
}
.skills .education .bar .line.html::before {
  width: 95%;
}
.skills .education .bar .line.css::before {
  width: 85%;
}
.skills .education .bar .line.js::before {
  width: 85%;
}
.skills .education .bar .line.jq::before {
  width: 75%;
}
.skills .education .bar .line.php::before {
  width: 45%;
}
.skills .work-exp {
  width: 100%;
  max-width: 100%;
}
.skills .work-exp-title {
  font-size: 30px;
  margin-bottom: 50px;
}
.skills .work-exp .experience-card {
  min-width: 320px;
  width: 32%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 6px;
  border-bottom: 3px solid #6a59d1;
  transition: 0.3s linear;
}
.skills .work-exp .experience-card .upper h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.skills .work-exp .experience-card .upper h5 {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5px;
}
.skills .work-exp .experience-card .upper span {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.skills .work-exp .experience-card .upper .hr {
  height: 2px;
  width: 100%;
  background-color: #d7d7d7;
  margin-bottom: 20px;
}
.skills .work-exp .experience-card .label {
  margin-bottom: 20px;
}

.experience-card:hover, .education-list .item:hover, .bar:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: 0.3s linear;
}

/*# sourceMappingURL=style.css.map */
