@use "../var" as v;

.get-in-touch {
  padding: 60px 20px;

  & .contact-card {
    position: relative;
    display: flex;
    column-gap: 50px;
    border-radius: 6px;
    padding: 50px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    background-color: v.$bg-transparent-color;
    box-shadow: v.$box-shadow;

    @media screen and (max-width: 998px) {
      flex-direction: column;
      gap: 20px;
      padding: 50px 20px;
    }
  }

  & .title {
    text-transform: uppercase;
    line-height: 1.5;

    & h2 {
      font-size: 72px;
      font-weight: 700;
      background: linear-gradient(to top, transparent 0%, v.$first-color 60%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
      opacity: 0.9;
      line-height: 1;

      @media screen and (max-width: 768px) {
        font-size: 36px;

      }
    }

    & h3 {
      font-size: 36px;
      font-weight: 400;
      line-height: 1;
    }

    & h4 {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.2;
    }
  }
}

.sub-section {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 60px 0;
}



