@use "../var" as v;

html {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: v.$first-color;
  background-color: v.$body-bg-color;
  overflow-x: hidden;
  //  padding-top: 61px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  //  max-width: 94.5%;
  width: 100%;
  max-width: 1280px;
  //  border: 1px solid v.$hover-color;
}

.inner-info-link {
  display: inline-block;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: v.$second-color;
  color: #fff;
  transition: background-color 0.3s linear, color 0.3s linear, transform 0.3s linear;
  font-size: v.$normal-font-size;
  font-weight: 500;

  i {
    vertical-align: middle;
    transform: translateX(0);
    transition: transform 0.3s linear;
  }

  &:hover {
    background-color: v.$hover-color;
    transition: background-color 0.3s linear, color 0.3s linear, transform 0.3s linear;

    i {
      transform: translateX(2px);
      transition: transform 0.3s linear;
    }
  }
}

.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 20px;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner-title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(to top, transparent 0%, v.$first-color 70%);
  -webkit-background-clip: text; /* Правильный префикс */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  opacity: 0.1;
  line-height: 1;
  text-align: center;
}

.inner-second-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  transform: translateY(-55px);

  &::after {
    content: "";
    position: absolute;
    //    width: 70px;
    width: 65%;
    display: block;
    height: 5px;
    right: 0;
    bottom: 0;
    background-color: v.$second-color;
  }
}